
.bg-light-gray {
  background-color: #d9d9d9; /* Gray background */
  width: 100%; /* Ensure full width */
}
.circular-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
}
